apiVersion: v1
kind: Service
metadata:
  name: {{ include "anaf-app.fullname" . }}-frontend
  labels:
    {{- include "anaf-app.labels" . | nindent 4 }}
    {{- include "anaf-app.frontend.selectorLabels" . | nindent 4 }}
spec:
  type: {{ .Values.frontend.service.type }}
  ports:
    - port: {{ .Values.frontend.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "anaf-app.frontend.selectorLabels" . | nindent 4 }}
